{% block cabecera %}

<!DOCTYPE HTML>

<html>
	<head>
		<title>MONGOdb</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../static/assets/css/noscript.css" /></noscript>
    </head>
    <section id="intro" class="wrapper style1 fullscreen fade-up">
            <div class="inner">
                <h1>MONGOdb</h1>
                    {% block contenido %}
                    {% endblock %}
            </div>
        </section>
   
{% endblock %}   







