{% extends "cabecera.html" %}
    {% block contenido %}
    <form action="/login" method="post">
        <div class="row gtr-uniform">
            <div class="col-6 col-12-xsmall">
                <input type="text" name="usuario" placeholder='Usuario' class="form-control" required/>
            </div>
            <div class="col-6 col-12-xsmall">
                <input type="text" name="psw" placeholder='Contraseña' class="form-control" required/>
            </div>

            <div class="col-12">
                <ul class="actions">
                    <li><input type="submit" value="Enviar" class="primary" /></li>
                </ul>
            </div>
    {% endblock %}


